
body {
    font-family: "Roboto", sans-serif;
}

:root {
    --title-color: #212121;
    --text-color: #757575;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --hover-button:#188CE8;
    --background-color:#2F303A;
    --second-background-color: #F5F4FA;
    --address-color:rgba(255, 255, 255, 0.6);
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header>.container {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    font-family: "Raleway";
    margin-right: 93px;
}

.header-blue-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    font-family: "Raleway";
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.current {
    color: var(--blue-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--blue-color);
}

.contacts {
    display: flex;
    margin-left: auto;
    gap: 47px;
}

.contact-link {
    font-style: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--blue-color);
}

.title-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.title {
    background: var(--background-color);
}

.title>.container {
    padding: 280px 0px 200px;
}
.title-text {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--blue-color);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
}

.button:hover,
.button:focus {
    background-color: var(--hover-button);
}

.benefits>.container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-list {
    display: flex;
    column-gap: 30px;
}

.benefits-item {
    width: 270px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team {
    background-color: var(--second-background-color);
}

.team-item {
    background-color: var(--white-color);
}
.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.footer {
    background: var(--background-color);
}

.footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
    font-family: "Raleway";
}

.footer-blue-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    font-family: "Raleway";
}

.address {
    font-style: inherit;
}
.address-item-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-color);
    font-style: inherit;
} 
.address-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    font-style: inherit;
}

.address-item-link:hover,
.address-item-link:focus {
    color: var(--blue-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--blue-color);
}

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--second-background-color);
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.portfolio-list-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}